.submitBtn {
  background-color: #ff385c;
  color: white;
  border-radius: 25px;
  padding: 0 1rem 0 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.submitBtn:hover {
  background-color: #ff385c;
  color: white;
}
